services:

  user-service:
    build:
      context: ./user_service
      dockerfile: Dockerfile
    container_name: go-micro-user-service
    restart: always
    ports:
      - "50051:50051"
    env_file:
      - ./user_service/.env
    depends_on:
      - mongo

  auth-service:
    build:
      context: ./auth_service
      dockerfile: Dockerfile
    container_name: go-micro-auth-service
    restart: always
    ports:
      - "50052:50052"
    env_file:
      - ./auth_service/.env
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:6
    container_name: go-micro-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7
    container_name: go-micro-redis
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  mongo-data: